body {
    width: 100%;
    margin: 0 auto;
}
.instructions {
    width: 100%;
    height: 300px;
    background-color: grey;
}
.instructions-image {
    width: auto;
    height: 300px;
    margin: 0;
    background-image: url("../img/AnimatedDrumKit_keys.png");
    background-size: contain;
    background-repeat: no-repeat;

}